In [1]:
# Necessary imports for the notebook
import pandas as pd

In [ ]:
# Getting data from cloud source
url = "https://minio.lab.sspcloud.fr/mligeret1/ValeursFoncieres-2024.txt"
df = pd.read_csv(url, sep="|", low_memory=False)

In [2]:
# Saving locally for future uses
df.to_csv("valeurs_foncieres.csv")

NameError: name 'df' is not defined

In [3]:
# Getting data from previous local save
df = pd.read_csv("valeurs_foncieres.csv",index_col=0,low_memory=False)

In [42]:
df.sample(10)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
2567629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/09/2024,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1443423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,27/02/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,2416.0
1992096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/06/2024,Vente,...,NaN,1,2.0,Appartement,NaN,15.0,1.0,NaN,NaN,NaN
1823169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/07/2024,Vente,...,NaN,0,1.0,Maison,NaN,63.0,4.0,S,NaN,570.0
823508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20/06/2024,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,500.0
727180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/05/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,3322.0
1810456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/10/2024,Vente,...,NaN,1,2.0,Appartement,NaN,79.0,3.0,NaN,NaN,NaN
1633750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/10/2024,Vente,...,NaN,0,1.0,Maison,NaN,75.0,4.0,J,POTAG,750.0
1061800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,22/10/2024,Vente,...,NaN,0,1.0,Maison,NaN,114.0,2.0,S,NaN,749.0
3117003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31/07/2024,Vente,...,NaN,2,2.0,Appartement,NaN,97.0,5.0,NaN,NaN,NaN

In [4]:
# Viewing columns and selecting relevant ones
print(df.columns)
colonnes_pertinentes = ["No disposition","Valeur fonciere", "Date mutation",'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune','Code commune','Surface reelle bati','Surface terrain', 'Nombre pieces principales','Type local', "Identifiant local"]

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [5]:
# Defining the new dataframe that we'll use
df_pertinent = df[colonnes_pertinentes].copy()

In [6]:
# Checking importance of null value for transaction value
df_pertinent["Valeur fonciere"].isna().sum()

np.int64(36551)

In [7]:
# Removing those values as well as duplicate lines
filter_na = df_pertinent["Valeur fonciere"].isna()
df_removed = df_pertinent[~filter_na].drop_duplicates() # New clean dataframe

In [8]:
# Cleaning of price and construction of price by m2
df_removed["Valeur fonciere"] = df_removed["Valeur fonciere"].str.replace(",",".",regex=False) # Replacing , by . 
df_removed["Valeur fonciere"] = df_removed["Valeur fonciere"].astype(float).round().astype(int) # Converting to int (removing decimals if needed)
df_removed["Prix au m2"]=df_removed["Valeur fonciere"]/df_removed["Surface terrain"]

In [9]:
df_removed[df_removed["Valeur fonciere"]==1].head(20)

,No disposition,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Surface reelle bati,Surface terrain,Nombre pieces principales,Type local,Identifiant local,Prix au m2
197,2,1,11/01/2024,NaN,NaN,NaN,B012,BOIS DE TRUCHET,1270.0,SALAVRE,391,NaN,3506.0,NaN,NaN,NaN,0.000285
350,2,1,11/01/2024,NaN,NaN,NaN,B078,LES MALLADIERES,1710.0,THOIRY,419,NaN,1.0,NaN,NaN,NaN,1.000000
732,1,1,09/01/2024,NaN,NaN,NaN,B118,LE VILLAGE,1400.0,SANDRANS,393,NaN,130.0,NaN,NaN,NaN,0.007692
733,1,1,09/01/2024,NaN,NaN,NaN,B118,LE VILLAGE,1400.0,SANDRANS,393,NaN,132.0,NaN,NaN,NaN,0.007576
740,1,1,05/01/2024,NaN,NaN,NaN,B101,TERRE DE VAREY,1160.0,PONT-D AIN,304,NaN,60.0,NaN,NaN,NaN,0.016667
741,1,1,05/01/2024,NaN,NaN,NaN,B101,TERRE DE VAREY,1160.0,PONT-D AIN,304,NaN,1124.0,NaN,NaN,NaN,0.000890
1096,1,1,16/01/2024,NaN,NaN,NaN,B005,SUR LE BIEF,1250.0,JASSERON,195,NaN,320.0,NaN,NaN,NaN,0.003125
1097,1,1,16/01/2024,NaN,NaN,NaN,B005,SUR LE BIEF,1250.0,JASSERON,195,NaN,1524.0,NaN,NaN,NaN,0.000656
1098,1,1,16/01/2024,NaN,NaN,NaN,B005,SUR LE BIEF,1250.0,JASSERON,195,NaN,968.0,NaN,NaN,NaN,0.001033
1099,1,1,16/01/2024,NaN,NaN,NaN,B005,SUR LE BIEF,1250.0,JASSERON,195,NaN,133.0,NaN,NaN,NaN,0.007519
1110,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,95.0,NaN,NaN,NaN,0.010526
1111,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,516.0,NaN,NaN,NaN,0.001938
1112,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,215.0,NaN,NaN,NaN,0.004651
1113,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,86.0,NaN,NaN,NaN,0.011628
1114,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,385.0,NaN,NaN,NaN,0.002597
1115,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,1474.0,NaN,NaN,NaN,0.000678
1116,1,1,05/01/2024,NaN,NaN,NaN,B101,TERRE DE VAREY,1160.0,PONT-D AIN,304,NaN,162.0,NaN,NaN,NaN,0.006173
1117,1,1,05/01/2024,NaN,NaN,NaN,B079,PRE BIGOT,1160.0,PONT-D AIN,304,NaN,3516.0,NaN,NaN,NaN,0.000284
1118,1,1,05/01/2024,NaN,NaN,NaN,B101,TERRE DE VAREY,1160.0,PONT-D AIN,304,NaN,1015.0,NaN,NaN,NaN,0.000985
1119,1,1,05/01/2024,NaN,NaN,NaN,B101,TERRE DE VAREY,1160.0,PONT-D AIN,304,NaN,1259.0,NaN,NaN,NaN,0.000794

In [10]:
#Checking that we have dates for each transaction
df_removed["Date mutation"].isna().sum()

np.int64(0)

In [39]:
df_removed[(df_removed['Date mutation']=='03/01/2024') & (df_removed['Valeur fonciere']==10000)]

,No disposition,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Surface reelle bati,Surface terrain,Nombre pieces principales,Type local,Identifiant local,Prix au m2
1,2,10000,03/01/2024,NaN,NaN,NaN,B007,CHEVRY DESSOUS,1170.0,CHEVRY,103,NaN,115.0,NaN,NaN,NaN,86.956522
199349,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,5355.0,NaN,NaN,NaN,1.867414
199350,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,3577.0,NaN,NaN,NaN,2.795639
199351,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,1000.0,NaN,NaN,NaN,10.000000
199352,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,2190.0,NaN,NaN,NaN,4.566210
199353,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,3100.0,NaN,NaN,NaN,3.225806
199354,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,1895.0,NaN,NaN,NaN,5.277045
199355,1,10000,03/01/2024,NaN,NaN,NaN,B036,DUMONTET,7270.0,COLOMBIER-LE-JEUNE,68,NaN,9870.0,NaN,NaN,NaN,1.013171
199356,1,10000,03/01/2024,NaN,NaN,NaN,B011,BERNARD,7270.0,GILHOC-SUR-ORMEZE,95,NaN,2655.0,NaN,NaN,NaN,3.766478
320074,1,10000,03/01/2024,NaN,NaN,NaN,B044,CAMP D ALTE,12100.0,LA ROQUE STE MARGUERITE,204,NaN,25360.0,NaN,NaN,NaN,0.394322
320075,1,10000,03/01/2024,NaN,NaN,NaN,B200,MANDAILLE,12100.0,LA ROQUE STE MARGUERITE,204,NaN,1350.0,NaN,NaN,NaN,7.407407
320076,1,10000,03/01/2024,NaN,NaN,NaN,B200,MANDAILLE,12100.0,LA ROQUE STE MARGUERITE,204,NaN,42750.0,NaN,NaN,NaN,0.233918
320077,1,10000,03/01/2024,NaN,NaN,NaN,B199,LE MALPAS,12100.0,LA ROQUE STE MARGUERITE,204,NaN,464.0,NaN,NaN,NaN,21.551724
320078,1,10000,03/01/2024,NaN,NaN,NaN,B032,BROUILLETTE,12100.0,LA ROQUE STE MARGUERITE,204,NaN,1130.0,NaN,NaN,NaN,8.849558
320079,1,10000,03/01/2024,NaN,NaN,NaN,B032,BROUILLETTE,12100.0,LA ROQUE STE MARGUERITE,204,NaN,4450.0,NaN,NaN,NaN,2.247191
320080,1,10000,03/01/2024,NaN,NaN,NaN,B032,BROUILLETTE,12100.0,LA ROQUE STE MARGUERITE,204,NaN,3490.0,NaN,NaN,NaN,2.865330
320081,1,10000,03/01/2024,NaN,NaN,NaN,B130,PLO DE CORP,12720.0,SAINT-ANDRE-DE-VEZINES,211,NaN,2664.0,NaN,NaN,NaN,3.753754
320082,1,10000,03/01/2024,NaN,NaN,NaN,B130,PLO DE CORP,12720.0,SAINT-ANDRE-DE-VEZINES,211,NaN,3629.0,NaN,NaN,NaN,2.755580
320083,1,10000,03/01/2024,NaN,NaN,NaN,B130,PLO DE CORP,12720.0,SAINT-ANDRE-DE-VEZINES,211,NaN,3628.0,NaN,NaN,NaN,2.756340
320084,1,10000,03/01/2024,NaN,NaN,NaN,B130,PLO DE CORP,12720.0,SAINT-ANDRE-DE-VEZINES,211,NaN,3797.0,NaN,NaN,NaN,2.633658
320086,1,10000,03/01/2024,NaN,NaN,NaN,B114,LA MOTHE,12720.0,SAINT-ANDRE-DE-VEZINES,211,NaN,24593.0,NaN,NaN,NaN,0.406620
485356,1,10000,03/01/2024,11.0,NaN,RTE,0320,DE MARTRON,16480.0,SAUVIGNAC,365,74.0,410.0,1.0,Maison,NaN,24.390244
485357,1,10000,03/01/2024,15.0,NaN,RTE,0320,DE MARTRON,16480.0,SAUVIGNAC,365,72.0,95.0,3.0,Maison,NaN,105.263158
485358,1,10000,03/01/2024,NaN,NaN,NaN,B035,GRAND MELAC,16480.0,SAUVIGNAC,365,NaN,50.0,NaN,NaN,NaN,200.000000
485693,1,10000,03/01/2024,5001.0,NaN,NaN,B115,MASTIZON,16150.0,CHASSENON,86,48.0,825.0,3.0,Maison,NaN,12.121212
1534051,1,10000,03/01/2024,NaN,NaN,NaN,B055,LA CORNILLERE,44690.0,HAIE-FOUASSIERE (LA),70,NaN,393.0,NaN,NaN,NaN,25.445293
1816101,1,10000,03/01/2024,NaN,NaN,NaN,B086,SOUS L ECHELETTE,52500.0,BELMONT,43,NaN,1355.0,NaN,NaN,NaN,7.380074
1816103,1,10000,03/01/2024,NaN,NaN,NaN,B068,EN LA PORTIERE,52500.0,BELMONT,43,NaN,3740.0,NaN,NaN,NaN,2.673797
1816104,1,10000,03/01/2024,NaN,NaN,NaN,B032,COMBE DU FOURNEAU,52500.0,BELMONT,43,NaN,8417.0,NaN,NaN,NaN,1.188072
1816106,1,10000,03/01/2024,NaN,NaN,NaN,B032,COMBE DU FOURNEAU,52500.0,BELMONT,43,NaN,16835.0,NaN,NaN,NaN,0.594001
2123636,1,10000,03/01/2024,NaN,NaN,RUE,0280,DU MOULIN,62116.0,BUCQUOY,181,NaN,245.0,NaN,NaN,NaN,40.816327
2632313,1,10000,03/01/2024,NaN,NaN,NaN,B009,CHAMP MORT,77130.0,MONTEREAU FAULT YONNE,305,NaN,497.0,NaN,NaN,NaN,20.120724
2740726,1,10000,03/01/2024,NaN,NaN,NaN,B069,LA GIRARDIERE,79110.0,ALLOINAY,136,NaN,21656.0,NaN,NaN,NaN,0.461766
3218387,1,10000,03/01/2024,1.0,NaN,RUE,7165,DU POTAGER,93250.0,VILLEMOMBLE,77,0.0,NaN,0.0,Dépendance,NaN,NaN
3385714,1,10000,03/01/2024,56.0,NaN,RUE,9382,DES TOURNELLES,75003.0,PARIS 03,103,0.0,NaN,0.0,Dépendance,NaN,NaN

In [21]:
# Grouping lines by transaction value and date, to aggregate lines corresponding to the same transaction
df_groupby = df_removed.groupby(['Valeur fonciere', 'Date mutation'])['Voie'].transform('nunique')
filter = (df_groupby>1) & (df_removed["Date mutation"]=='09/01/2024')
df_removed[filter]

,No disposition,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Surface reelle bati,Surface terrain,Nombre pieces principales,Type local,Identifiant local,Prix au m2
7,1,20000,09/01/2024,NaN,NaN,NaN,B579,AU CHAUME,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1584.0,NaN,NaN,NaN,12.626263
8,1,20000,09/01/2024,NaN,NaN,NaN,B606,LES FATES,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,188.0,NaN,NaN,NaN,106.382979
9,1,20000,09/01/2024,NaN,NaN,NaN,B606,LES FATES,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,2532.0,NaN,NaN,NaN,7.898894
10,1,20000,09/01/2024,NaN,NaN,NaN,B574,EN CHANAUD,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,2615.0,NaN,NaN,NaN,7.648184
11,1,20000,09/01/2024,NaN,NaN,NaN,B562,LA BERROTIERE,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1890.0,NaN,NaN,NaN,10.582011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3419430,1,298500,09/01/2024,3.0,NaN,RUE,1717,DU CHAMP DE MARS,75007.0,PARIS 07,107,0.0,NaN,0.0,Dépendance,NaN,NaN
3419431,1,298500,09/01/2024,3.0,NaN,RUE,1717,DU CHAMP DE MARS,75007.0,PARIS 07,107,24.0,NaN,2.0,Appartement,NaN,NaN
3419461,1,39000,09/01/2024,7.0,NaN,RUE,6776,NIEPCE,75014.0,PARIS 14,114,0.0,NaN,0.0,Dépendance,NaN,NaN
3419798,1,340000,09/01/2024,17.0,NaN,RUE,2745,DESNOUETTES,75015.0,PARIS 15,115,0.0,NaN,0.0,Dépendance,NaN,NaN
3419799,1,340000,09/01/2024,17.0,NaN,RUE,2745,DESNOUETTES,75015.0,PARIS 15,115,40.0,NaN,2.0,Appartement,NaN,NaN

In [12]:
df_removed.head(20)

,No disposition,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Surface reelle bati,Surface terrain,Nombre pieces principales,Type local,Identifiant local,Prix au m2
0,1,346,02/01/2024,NaN,NaN,NaN,B020,LE DELIVRE,1230.0,CHALEY,76,NaN,99.0,NaN,NaN,NaN,3.494949
1,2,10000,03/01/2024,NaN,NaN,NaN,B007,CHEVRY DESSOUS,1170.0,CHEVRY,103,NaN,115.0,NaN,NaN,NaN,86.956522
2,1,249000,08/01/2024,NaN,NaN,NaN,B086,PIN HAMEAU,1290.0,LAIZ,203,NaN,497.0,NaN,NaN,NaN,501.006036
3,1,329500,03/01/2024,9001.0,NaN,PL,0500,DU JURA,1170.0,GEX,173,0.0,NaN,0.0,Dépendance,NaN,NaN
4,1,329500,03/01/2024,29.0,NaN,PL,0500,DU JURA,1170.0,GEX,173,0.0,NaN,0.0,Dépendance,NaN,NaN
6,1,329500,03/01/2024,29.0,NaN,PL,0500,DU JURA,1170.0,GEX,173,89.0,NaN,4.0,Appartement,NaN,NaN
7,1,20000,09/01/2024,NaN,NaN,NaN,B579,AU CHAUME,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1584.0,NaN,NaN,NaN,12.626263
8,1,20000,09/01/2024,NaN,NaN,NaN,B606,LES FATES,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,188.0,NaN,NaN,NaN,106.382979
9,1,20000,09/01/2024,NaN,NaN,NaN,B606,LES FATES,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,2532.0,NaN,NaN,NaN,7.898894
10,1,20000,09/01/2024,NaN,NaN,NaN,B574,EN CHANAUD,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,2615.0,NaN,NaN,NaN,7.648184
11,1,20000,09/01/2024,NaN,NaN,NaN,B562,LA BERROTIERE,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1890.0,NaN,NaN,NaN,10.582011
12,1,20000,09/01/2024,NaN,NaN,NaN,B644,RADIOT,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,926.0,NaN,NaN,NaN,21.598272
13,1,20000,09/01/2024,NaN,NaN,NaN,B645,SUR LA RECULAZ,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,843.0,NaN,NaN,NaN,23.724792
14,1,20000,09/01/2024,NaN,NaN,NaN,B645,SUR LA RECULAZ,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,2311.0,NaN,NaN,NaN,8.654262
15,1,20000,09/01/2024,NaN,NaN,NaN,B645,SUR LA RECULAZ,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1109.0,NaN,NaN,NaN,18.034265
16,1,20000,09/01/2024,NaN,NaN,NaN,B645,SUR LA RECULAZ,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1377.0,NaN,NaN,NaN,14.524328
17,1,20000,09/01/2024,NaN,NaN,NaN,B645,SUR LA RECULAZ,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1155.0,NaN,NaN,NaN,17.316017
18,1,20000,09/01/2024,NaN,NaN,NaN,B583,EN CHEZIEU,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,2496.0,NaN,NaN,NaN,8.012821
19,1,20000,09/01/2024,NaN,NaN,NaN,B598,LA COTE AUX BERNES,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1598.0,NaN,NaN,NaN,12.515645
20,1,20000,09/01/2024,NaN,NaN,NaN,B582,SUR LA CHENELAZ,1110.0,PLATEAU D'HAUTEVILLE,185,NaN,1351.0,NaN,NaN,NaN,14.803849

In [10]:
df_groupby

0           1
1          21
2           4
3           1
4           1
           ..
3458631     1
3458632     1
3458633     1
3458634     1
3458642     1
Name: Voie, Length: 2923566, dtype: int64

In [13]:
# First checking that Valeur fonciere and Date are enough to identify one transaction 

(df_groupby["Voie"].nunique()>1).sum() # Checking transactions with same date and price but different places

KeyError: 'Voie'

In [ ]:
df["Prix au m2"] = df["Valeur fonciere"]//df["Surface reelle bati"]
df.loc[:,colonne_pertinentes].tail(60)
df_clean = df.dropna(subset=["Prix au m2"])


m2_par_rue = df_clean.groupby(["Commune","Voie"])["Prix au m2"].mean().to_frame()
m2_par_rue = m2_par_rue["Prix au m2"].sort_values(ascending=True).to_frame()
m2_par_rue.head()

                                           Prix au m2
Commune                   Voie
ISTRES                    GRANDE GROUPEDE    0.000011
                          LA LEGUE           0.000025
PIERREFICHE               LA GAILLOSTE       0.000027
LABASTIDE-CASTEL-AMOUROUX DE LA SCIERIE      0.000028
OISSEL                    OCTAVE FAUQUET     0.000044

In [ ]:
m2_par_rue.loc[(m2_par_rue["Surface au m2"]< 1000000) & (m2_par_rue["Surface au m2"]> 19000)]

                                                 Surface au m2
Commune                  Voie
TOURS                    SAINT VINCENT DE PAUL        19008.00
SAINT-LAURENT-DES-ARBRES ERIC JAULMES                 19021.00
LA HAGUE                 DES AVOINES ACQUEVILLE       19029.75
LANGUEUX                 PIERRE LOTI                  19033.50
AGDE                     MARCELLIN ALBERT             19042.50
...                                                        ...
PARIS 09                 HALEVY                     2001033.70
GALLARGUES-LE-MONTUEUX   FARELLE                    2820000.00
CHARLEVILLE-MEZIERES     ANDRE JOSEPH               3309556.00
MARSEILLE 15EME          DU CHATEAU VERT            4638368.00
NEUVY-AU-HOULME          LA CHAPELLE                5386625.00

[1344 rows x 1 columns]

In [ ]:
df.loc[(df["Commune"]=="NEUVY-AU-HOULME") & (df["Voie"]=="LA CHAPELLE"), colonnes_pertinentes].tail(60)

,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Surface reelle bati,Nombre pieces principales,Type local,Identifiant local,Prix au m2
2122871,21546500.0,26/12/2024,NaN,NaN,NaN,B027,LA CHAPELLE,61210.0,NEUVY-AU-HOULME,NaN,NaN,NaN,NaN,NaN
2122872,21546500.0,26/12/2024,38.0,NaN,NaN,B027,LA CHAPELLE,61210.0,NEUVY-AU-HOULME,4.0,0.0,Local industriel. commercial ou assimilé,NaN,5386625.0

In [ ]:
df.loc[df["Commune"].str.contains("PARIS"), colonnes_pertinentes].tail(60)

,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Surface reelle bati,Nombre pieces principales,Type local,Identifiant local,Surface au m2
3458583,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,125.0,5.0,Appartement,NaN,98976.0
3458584,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,64.0,3.0,Appartement,NaN,193312.0
3458585,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,125.0,5.0,Appartement,NaN,98976.0
3458586,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,58.0,3.0,Appartement,NaN,213310.0
3458587,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,54.0,2.0,Appartement,NaN,229111.0
3458588,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,59.0,3.0,Appartement,NaN,209694.0
3458589,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,25.0,0.0,Local industriel. commercial ou assimilé,NaN,494880.0
3458590,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458591,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458592,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458593,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458594,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458595,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458596,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458597,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458598,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458599,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458600,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458601,1200000.0,30/12/2024,62.0,B,RUE,0830,DES BELLES FEUILLES,75016.0,PARIS 16,115.0,3.0,Appartement,NaN,10434.0
3458602,1200000.0,30/12/2024,62.0,B,RUE,0830,DES BELLES FEUILLES,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458603,285000.0,27/12/2024,6.0,NaN,RUE,1486,DES CANETTES,75006.0,PARIS 06,22.0,1.0,Appartement,NaN,12954.0
3458604,41000.0,04/07/2024,19.0,NaN,AV,4271,LA GRANDE ARMEE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458605,380000.0,20/12/2024,57.0,NaN,RUE,5686,DE LILLE,75007.0,PARIS 07,37.0,2.0,Appartement,NaN,10270.0
3458606,260000.0,30/12/2024,40.0,NaN,RUE,2084,CLAUDE TERRASSE,75016.0,PARIS 16,26.0,1.0,Appartement,NaN,10000.0
3458607,260000.0,30/12/2024,40.0,NaN,RUE,2084,CLAUDE TERRASSE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458608,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,0.0,0.0,Dépendance,NaN,inf
3458609,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,72.0,3.0,Appartement,NaN,8391.0
3458610,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,0.0,0.0,Dépendance,NaN,inf
3458611,200000.0,17/12/2024,20.0,B,RUE,3955,DE LA GARE DE REUILLY,75012.0,PARIS 12,20.0,1.0,Appartement,NaN,10000.0
3458612,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458613,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458614,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458615,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458616,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458617,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458618,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458619,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458620,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458621,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458622,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,20.0,2.0,Appartement,NaN,227500.0
3458623,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,20.0,2.0,Appartement,NaN,227500.0
3458624,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458625,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458626,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458627,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458628,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458629,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458630,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458631,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,26.0,2.0,Appartement,NaN,175000.0
3458632,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,31.0,2.0,Appartement,NaN,146774.0
3458633,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,51.0,0.0,Local industriel. commercial ou assimilé,NaN,89215.0
3458634,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,29.0,2.0,Appartement,NaN,156896.0
3458635,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458636,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458637,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458638,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458639,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458640,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458641,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458642,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,42.0,0.0,Local industriel. commercial ou assimilé,NaN,108333.0

LISTE DES TACHES A FAIRE : \


Sélectionner les colonnes pertinentes pour l'analyse (lire le fichier dédié)   
Supprimer les doublons purs (toutes les colonnes identiques)   
Supprimer les doublons non reconnus comme tel (càd même adresse, même date de vente)   
Supprimer les lignes aux valeurs aberrantes (plus compliqué à faire)   
    - supprimer les lignes où les valeurs sont évidemment non nulles   
    - supprimer les lignes où les valeurs sont beaucoup trop faibles (<8m2) ou trop élevés

In [ ]:
df_clean  = df.drop_duplicates(subset=colonnes_pertinentes)

In [ ]:
df_clean.loc[df_clean["Commune"].str.contains("PARIS"), colonnes_pertinentes].tail(60)

,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Surface reelle bati,Nombre pieces principales,Type local,Identifiant local,Prix au m2
3458510,194710.0,20/12/2024,34.0,NaN,RUE,2513,DAGUERRE,75014.0,PARIS 14,20.0,2.0,Appartement,NaN,9.735500e+03
3458514,281063.0,20/12/2024,66.0,NaN,AV,1277,DE BRETEUIL,75007.0,PARIS 07,22.0,1.0,Appartement,NaN,1.277559e+04
3458515,1.0,30/12/2024,26.0,NaN,RUE,2511,DAGORNO,75012.0,PARIS 12,200.0,0.0,Local industriel. commercial ou assimilé,NaN,5.000000e-03
3458516,1.0,30/12/2024,26.0,NaN,RUE,2511,DAGORNO,75012.0,PARIS 12,13.0,0.0,Local industriel. commercial ou assimilé,NaN,7.692308e-02
3458517,240000.0,30/12/2024,10.0,NaN,RUE,8777,SAINT VICTOR,75005.0,PARIS 05,28.0,0.0,Local industriel. commercial ou assimilé,NaN,8.571429e+03
3458518,160000.0,31/12/2024,288.0,NaN,RUE,9624,DE VAUGIRARD,75015.0,PARIS 15,14.0,1.0,Appartement,NaN,1.142857e+04
3458519,276000.0,20/06/2024,49.0,NaN,RUE,2300,DE LA CONVENTION,75015.0,PARIS 15,0.0,0.0,Dépendance,NaN,inf
3458521,276000.0,20/06/2024,49.0,NaN,RUE,2300,DE LA CONVENTION,75015.0,PARIS 15,30.0,1.0,Appartement,NaN,9.200000e+03
3458523,110000.0,19/12/2024,22.0,NaN,RUE,1154,DE BOULAINVILLIERS,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458524,435000.0,27/12/2024,19.0,NaN,RUE,7599,PONSCARME,75013.0,PARIS 13,0.0,0.0,Dépendance,NaN,inf
3458525,435000.0,27/12/2024,19.0,NaN,RUE,7599,PONSCARME,75013.0,PARIS 13,64.0,3.0,Appartement,NaN,6.796875e+03
3458527,50077716.0,30/12/2024,17.0,NaN,RUE,8955,DE SEVRES,75006.0,PARIS 06,2569.0,0.0,Local industriel. commercial ou assimilé,NaN,1.949308e+04
3458528,22000.0,19/12/2024,17.0,NaN,RUE,2047,DES CINQ DIAMANTS,75013.0,PARIS 13,0.0,0.0,Dépendance,NaN,inf
3458529,99000.0,23/12/2024,30.0,NaN,RUE,3545,FELICIEN DAVID,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458530,43000.0,23/12/2024,85.0,NaN,RUE,1790,CHARDON LAGACHE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458531,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,63.0,4.0,Appartement,NaN,2.412698e+05
3458532,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,8.0,1.0,Appartement,NaN,1.900000e+06
3458533,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,122.0,0.0,Local industriel. commercial ou assimilé,NaN,1.245902e+05
3458534,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,0.0,0.0,Dépendance,NaN,inf
3458535,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,122.0,5.0,Appartement,NaN,1.245902e+05
3458536,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,63.0,3.0,Appartement,NaN,2.412698e+05
3458541,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,122.0,4.0,Appartement,NaN,1.245902e+05
3458545,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,19.0,1.0,Appartement,NaN,8.000000e+05
3458548,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,11.0,2.0,Appartement,NaN,1.381818e+06
3458552,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,10.0,2.0,Appartement,NaN,1.520000e+06
3458553,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,85.0,0.0,Local industriel. commercial ou assimilé,NaN,1.788235e+05
3458555,15200000.0,30/12/2024,114.0,NaN,RUE,4314,DE GRENELLE,75007.0,PARIS 07,62.0,0.0,Local industriel. commercial ou assimilé,NaN,2.451613e+05
3458570,536000.0,27/12/2024,3.0,NaN,RUE,7556,POIRIER DE NARCAY,75014.0,PARIS 14,60.0,0.0,Local industriel. commercial ou assimilé,NaN,8.933333e+03
3458571,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,136.0,6.0,Appartement,NaN,9.097059e+04
3458572,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,60.0,3.0,Appartement,NaN,2.062000e+05
3458573,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,65.0,3.0,Appartement,NaN,1.903385e+05
3458574,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,125.0,5.0,Appartement,NaN,9.897600e+04
3458575,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,64.0,3.0,Appartement,NaN,1.933125e+05
3458576,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,16.0,1.0,Appartement,NaN,7.732500e+05
3458577,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,25.0,0.0,Local industriel. commercial ou assimilé,NaN,4.948800e+05
3458578,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,63.0,0.0,Local industriel. commercial ou assimilé,NaN,1.963810e+05
3458579,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,130.0,0.0,Local industriel. commercial ou assimilé,NaN,9.516923e+04
3458581,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,100.0,4.0,Appartement,NaN,1.237200e+05
3458586,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,58.0,3.0,Appartement,NaN,2.133103e+05
3458587,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,54.0,2.0,Appartement,NaN,2.291111e+05
3458588,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,59.0,3.0,Appartement,NaN,2.096949e+05
3458590,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458601,1200000.0,30/12/2024,62.0,B,RUE,0830,DES BELLES FEUILLES,75016.0,PARIS 16,115.0,3.0,Appartement,NaN,1.043478e+04
3458602,1200000.0,30/12/2024,62.0,B,RUE,0830,DES BELLES FEUILLES,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458603,285000.0,27/12/2024,6.0,NaN,RUE,1486,DES CANETTES,75006.0,PARIS 06,22.0,1.0,Appartement,NaN,1.295455e+04
3458604,41000.0,04/07/2024,19.0,NaN,AV,4271,LA GRANDE ARMEE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458605,380000.0,20/12/2024,57.0,NaN,RUE,5686,DE LILLE,75007.0,PARIS 07,37.0,2.0,Appartement,NaN,1.027027e+04
3458606,260000.0,30/12/2024,40.0,NaN,RUE,2084,CLAUDE TERRASSE,75016.0,PARIS 16,26.0,1.0,Appartement,NaN,1.000000e+04
3458607,260000.0,30/12/2024,40.0,NaN,RUE,2084,CLAUDE TERRASSE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458608,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,0.0,0.0,Dépendance,NaN,inf
3458609,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,72.0,3.0,Appartement,NaN,8.391204e+03
3458611,200000.0,17/12/2024,20.0,B,RUE,3955,DE LA GARE DE REUILLY,75012.0,PARIS 12,20.0,1.0,Appartement,NaN,1.000000e+04
3458612,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,1.625000e+05
3458613,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,1.978261e+05
3458622,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,20.0,2.0,Appartement,NaN,2.275000e+05
3458631,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,26.0,2.0,Appartement,NaN,1.750000e+05
3458632,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,31.0,2.0,Appartement,NaN,1.467742e+05
3458633,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,51.0,0.0,Local industriel. commercial ou assimilé,NaN,8.921569e+04
3458634,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,29.0,2.0,Appartement,NaN,1.568966e+05
3458642,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,42.0,0.0,Local industriel. commercial ou assimilé,NaN,1.083333e+05