In [3]:
import pandas as pd
url = "https://minio.lab.sspcloud.fr/mligeret1/ValeursFoncieres-2024.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=QS9WTWA8Z8MF09PQ6TN6%2F20251011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251011T220503Z&X-Amz-Expires=3600&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJRUzlXVFdBOFo4TUYwOVBRNlRONiIsImFsbG93ZWQtb3JpZ2lucyI6WyIqIl0sImF1ZCI6WyJtaW5pby1kYXRhbm9kZSIsIm9ueXhpYSIsImFjY291bnQiXSwiYXV0aF90aW1lIjoxNzU5ODI5NzAxLCJhenAiOiJvbnl4aWEiLCJlbWFpbCI6Im1heGltZS5saWdlcmV0QGVuc2FlLmZyIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImV4cCI6MTc2MDgyMzg2NCwiZmFtaWx5X25hbWUiOiJMaWdlcmV0IiwiZ2l2ZW5fbmFtZSI6Ik1heGltZSIsImdyb3VwcyI6WyJVU0VSX09OWVhJQSJdLCJpYXQiOjE3NjAyMTkwNjQsImlzcyI6Imh0dHBzOi8vYXV0aC5sYWIuc3NwY2xvdWQuZnIvYXV0aC9yZWFsbXMvc3NwY2xvdWQiLCJqdGkiOiJvbnJ0cnQ6YjFmMDE2ZjAtZTk4Yi1iMWE1LWRkMjgtZmZiNzM3NDFlYTkzIiwibG9jYWxlIjoiZnIiLCJuYW1lIjoiTWF4aW1lIExpZ2VyZXQiLCJwb2xpY3kiOiJzdHNvbmx5IiwicHJlZmVycmVkX3VzZXJuYW1lIjoibWxpZ2VyZXQxIiwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJkZWZhdWx0LXJvbGVzLXNzcGNsb3VkIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsImRlZmF1bHQtcm9sZXMtc3NwY2xvdWQiXSwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBncm91cHMgZW1haWwiLCJzaWQiOiI4ZGYyYmM0ZC1lY2U2LTRjZTktOTViMi1iZDE5ODc3OTI4NDQiLCJzdWIiOiJiMTM2MzNlZi0xYmE2LTQ2N2QtOGY0MS1mMjUzZmEwYTdlODIiLCJ0eXAiOiJCZWFyZXIifQ.bawqbY95T-RSi6DCWEj0zMjW6Rb-oQkT5Yk_agrBfvGkn8ScF2-lOsuEPl5GUfgOgxOC_Op7dYakEvbWrYUqXQ&X-Amz-Signature=723828c60af1d8c45b7b3b05d3f7de54f7c65a923e69332a0c315941c79d4826&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject"
df = pd.read_csv(url, sep="|", low_memory=False)

In [4]:
df.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,99.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,03/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,115.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,497.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN

In [5]:
print(df.columns)
colonne_pertinentes = ["Valeur fonciere", "Date mutation",'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune','Surface reelle bati', 'Nombre pieces principales','Type local', "Identifiant local", "Surface au m2"]

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [6]:
df["Valeur fonciere"] = df["Valeur fonciere"].str.replace(",",".")

In [10]:
df = df.astype({"Valeur fonciere":"float64"})

In [11]:
print(df.dtypes)

Identifiant de document       float64
Reference document            float64
1 Articles CGI                float64
2 Articles CGI                float64
3 Articles CGI                float64
4 Articles CGI                float64
5 Articles CGI                float64
No disposition                  int64
Date mutation                  object
Nature mutation                object
Valeur fonciere               float64
No voie                       float64
B/T/Q                          object
Type de voie                   object
Code voie                      object
Voie                           object
Code postal                   float64
Commune                        object
Code departement               object
Code commune                    int64
Prefixe de section            float64
Section                        object
No plan                         int64
No Volume                      object
1er lot                        object
Surface Carrez du 1er lot      object
2eme lot                       object
Surface Carrez du 2eme lot     object
3eme lot                       object
Surface Carrez du 3eme lot     object
4eme lot                       object
Surface Carrez du 4eme lot     object
5eme lot                      float64
Surface Carrez du 5eme lot     object
Nombre de lots                  int64
Code type local               float64
Type local                     object
Identifiant local             float64
Surface reelle bati           float64
Nombre pieces principales     float64
Nature culture                 object
Nature culture speciale        object
Surface terrain               float64
dtype: object

In [66]:
df["Prix au m2"] = df["Valeur fonciere"]/df["Surface reelle bati"]
df.loc[:,colonne_pertinentes].tail(60)
df_clean = df.dropna(subset=["Surface au m2"])
m2_par_rue = df_clean.groupby(["Commune","Voie"])["Surface au m2"].mean().to_frame()
m2_par_rue = m2_par_rue["Surface au m2"].sort_values(ascending=True).to_frame()
m2_par_rue.head()

                                      Surface au m2
Commune             Voie
NARBONNE            DE VALMY                    0.0
MONTIGNY LE CHARTIF DE LA GIRARDERIE            0.0
VENDARGUES          DE LA GARENNE               0.0
LE TEIL             PIERRE SEMARD               0.0
ORNAISONS           DES HORTES                  0.0

In [ ]:
m2_par_rue.loc[(m2_par_rue["Surface au m2"]< 1000000) & (m2_par_rue["Surface au m2"]> 19000)]

                                                 Surface au m2
Commune                  Voie
TOURS                    SAINT VINCENT DE PAUL        19008.00
SAINT-LAURENT-DES-ARBRES ERIC JAULMES                 19021.00
LA HAGUE                 DES AVOINES ACQUEVILLE       19029.75
LANGUEUX                 PIERRE LOTI                  19033.50
AGDE                     MARCELLIN ALBERT             19042.50
...                                                        ...
PARIS 09                 HALEVY                     2001033.70
GALLARGUES-LE-MONTUEUX   FARELLE                    2820000.00
CHARLEVILLE-MEZIERES     ANDRE JOSEPH               3309556.00
MARSEILLE 15EME          DU CHATEAU VERT            4638368.00
NEUVY-AU-HOULME          LA CHAPELLE                5386625.00

[1344 rows x 1 columns]

In [73]:
df.loc[(df["Commune"]=="NEUVY-AU-HOULME") & (df["Voie"]=="LA CHAPELLE"), colonne_pertinentes].tail(60)

,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Surface reelle bati,Nombre pieces principales,Type local,Identifiant local,Surface au m2
2122871,21546500.0,26/12/2024,NaN,NaN,NaN,B027,LA CHAPELLE,61210.0,NEUVY-AU-HOULME,NaN,NaN,NaN,NaN,NaN
2122872,21546500.0,26/12/2024,38.0,NaN,NaN,B027,LA CHAPELLE,61210.0,NEUVY-AU-HOULME,4.0,0.0,Local industriel. commercial ou assimilé,NaN,5386625.0

In [76]:
df.loc[df["Commune"].str.contains("PARIS"), colonne_pertinentes].tail(60)

,Valeur fonciere,Date mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Surface reelle bati,Nombre pieces principales,Type local,Identifiant local,Surface au m2
3458583,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,125.0,5.0,Appartement,NaN,98976.0
3458584,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,64.0,3.0,Appartement,NaN,193312.0
3458585,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,125.0,5.0,Appartement,NaN,98976.0
3458586,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,58.0,3.0,Appartement,NaN,213310.0
3458587,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,54.0,2.0,Appartement,NaN,229111.0
3458588,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,59.0,3.0,Appartement,NaN,209694.0
3458589,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,25.0,0.0,Local industriel. commercial ou assimilé,NaN,494880.0
3458590,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458591,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458592,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458593,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458594,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458595,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458596,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458597,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458598,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458599,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458600,12372000.0,17/12/2024,101.0,NaN,RUE,8151,DE RENNES,75006.0,PARIS 06,0.0,0.0,Dépendance,NaN,inf
3458601,1200000.0,30/12/2024,62.0,B,RUE,0830,DES BELLES FEUILLES,75016.0,PARIS 16,115.0,3.0,Appartement,NaN,10434.0
3458602,1200000.0,30/12/2024,62.0,B,RUE,0830,DES BELLES FEUILLES,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458603,285000.0,27/12/2024,6.0,NaN,RUE,1486,DES CANETTES,75006.0,PARIS 06,22.0,1.0,Appartement,NaN,12954.0
3458604,41000.0,04/07/2024,19.0,NaN,AV,4271,LA GRANDE ARMEE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458605,380000.0,20/12/2024,57.0,NaN,RUE,5686,DE LILLE,75007.0,PARIS 07,37.0,2.0,Appartement,NaN,10270.0
3458606,260000.0,30/12/2024,40.0,NaN,RUE,2084,CLAUDE TERRASSE,75016.0,PARIS 16,26.0,1.0,Appartement,NaN,10000.0
3458607,260000.0,30/12/2024,40.0,NaN,RUE,2084,CLAUDE TERRASSE,75016.0,PARIS 16,0.0,0.0,Dépendance,NaN,inf
3458608,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,0.0,0.0,Dépendance,NaN,inf
3458609,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,72.0,3.0,Appartement,NaN,8391.0
3458610,604166.7,30/12/2024,3.0,NaN,RUE,2515,DU DAHOMEY,75011.0,PARIS 11,0.0,0.0,Dépendance,NaN,inf
3458611,200000.0,17/12/2024,20.0,B,RUE,3955,DE LA GARE DE REUILLY,75012.0,PARIS 12,20.0,1.0,Appartement,NaN,10000.0
3458612,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458613,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458614,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458615,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458616,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458617,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458618,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458619,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458620,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458621,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458622,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,20.0,2.0,Appartement,NaN,227500.0
3458623,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,20.0,2.0,Appartement,NaN,227500.0
3458624,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458625,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458626,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458627,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458628,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458629,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458630,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,28.0,2.0,Appartement,NaN,162500.0
3458631,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,26.0,2.0,Appartement,NaN,175000.0
3458632,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,31.0,2.0,Appartement,NaN,146774.0
3458633,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,51.0,0.0,Local industriel. commercial ou assimilé,NaN,89215.0
3458634,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,29.0,2.0,Appartement,NaN,156896.0
3458635,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458636,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458637,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458638,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458639,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458640,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458641,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,23.0,2.0,Appartement,NaN,197826.0
3458642,4550000.0,28/11/2024,147.0,NaN,RUE,1794,DE CHARENTON,75012.0,PARIS 12,42.0,0.0,Local industriel. commercial ou assimilé,NaN,108333.0